



<form method="post" action="/addadw">

    <input name="title" type="text" placeholder="Здесь заголовок объявления"><br>

    <br>
    <textarea rows="3" name="text" placeholder="Здесь текст объявления"></textarea><br>
    <br>

    <input name="fio" type="text" placeholder="Здесь ФИО объявления"><br>
    <br>
    <input name="phone" type="text" placeholder="Здесь телефон объявления"><br>

    <br>
    <button type="submit">Сохранить объявление.</button>














</form>