<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

    <!-- META DATA -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <title>КАЛЫМ.KZ</title>
    <meta name="description" content="Сервис для поиска калыма"/>
    <meta name="keywords" content="Работа, Астана, Калым, РК, Казахстан"/>
    <meta name="author" content="NewCode.KZ"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- GOOGLE WEB FONTS INCLUDE -->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>


   <!-- JARVIS THEME STYLESHEETS -->

    <link rel="stylesheet" href="css/skeleton.css" type="text/css">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/social.css" type="text/css">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->
    <link rel="stylesheet" href="css/shortcodes.css" type="text/css"/>
    <link rel="stylesheet" href="css/media.css"><!-- Media Queries -->

    <link rel="stylesheet" href="files/themes_panel/themes_panel.css"><!-- Theme Panel -->

    <link id="layout_color" href="css/light.css" rel="stylesheet" type="text/css"/>
    <link id="primary_color_scheme" href="css/colors/yellow.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>

<body class="onepage">
<div id="load"></div>




<!-- START PAGE WRAP -->
<div class="page-wrap">


    <!-- START HOME SECTION -->
    <div id="home" class="home-parallax">
        <div class="home-text-wrapper">









            <div class="row">

<div class="sixteen column">


                    <div class="one_half">
                        <!-- START TITLE -->
                        <div class="title">
                            <h1>Калым.kz</h1>
                            <div class="subtitle">
                                <p>Мы создали простой сервис для быстрого доступа к заказам на ремонтном рынке Казахстана и Астаны.<br>
                                    ---Для начала работы зарегестрируй свой телефон для Вотсап.<br> ---Затем прокрутите страницу вниз</p>
                            </div><!-- END SUBTITLE -->
                        </div><!-- END TITLE -->
                    </div>




                    <div id="forDeleteEmail" class="one_half last">





                        <!-- START CONTACT BOX -->
                        <div  class="contact-box">
                            <!-- START CONTACT FORM -->
                            <div id="contact-form">











                                <div id="contact-input">
                                    <label id="forError"></label>
                                    <!--[if IE]>
                                    <label for="email">Телефон</label>

                                    <![endif]-->
                                    <input type="text" name="contact[email]" id="forPhone" placeholder="Ваш телефон">

                                </div>






                                <div id="contact-submit" >
                                    <div>
                                        <input name="submit" type="submit" id="submitReq" tabindex="5" value="Отправить вопрос" class="comment-submit small button">
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </div>
                            <div class="result"></div>
                            <!-- END CONTACT FORM -->


                        </div>

                        <!-- END CONTACT BOX -->








                    </div>

</div>

            </div><!-- END ROW -->











        </div><!-- END HOME TEXT WRAPPER -->
    </div><!-- END HOME SECTION -->



    <!-- START NAVIGATION -->
    <nav class="light">
        <!-- START CONTAINER -->
        <div class="container clearfix">
            <div class="four columns">
                <!-- START LOGO -->
                <div class="logo large">
                    <a href="#home"><img src="images/logo.png" title="logo" alt="Logo"/></a>
                </div>
                <!-- END LOGO -->
            </div><!-- END FOUR COLUMNS -->


            <div class="twelve columns">
                <!-- START NAVIGATION MENU ITEMS -->
                <ul class="main-menu large" id="nav">
                    <li><a href="#home">Домой</a></li>
                    <li><a href="#about">Объявления</a></li>

                    <li><a href="#contact">Напиши нам</a></li>
                </ul>
                <!-- END NAVIGATION MENU ITEMS -->
            </div><!-- END TWELVE COLUMNS -->
        </div><!-- END CONTAINER -->
    </nav>
    <!-- END NAVIGATION -->


   {{{body}}}








    <!-- START CONTACT SECTION -->
    <div id="contact" class="page">

        <div class="container">
            <div class="row">
                <div class="sixteen columns">
                    <!-- START TITLE -->
                    <div class="title">
                        <h1>Связь с нами</h1>
                        <div class="subtitle">
                            <p>Если есть <span class="highlight">вопросы</span> и <span class="highlight">замечания</span> мы готовы помочь.</p>
                        </div><!-- END SUBTITLE -->
                    </div><!-- END TITLE -->
                </div><!-- END SIXTEEN COLUMNS -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
        <div class="container clearfix">
            <div class="sixteen columns" id="forHelpMess">

                <!-- START CONTACT BOX -->
                <div class="contact-box">
                    <!-- START CONTACT FORM -->
                    <div id="contact-form">







                        <div id="contact-input">
                            <label id="forErrorHelp"></label>
                            <!--[if IE]>
                            <label for="email">Телефон</label>

                            <![endif]-->
                            <input type="text" name="contact[email]" id="phonehelp" placeholder="Ваш телефон">

                        </div>


                        <div id="contact-textarea">
                            <!--[if IE]>
                            <label for="message">Ваше сообщение</label>
                            <![endif]-->
                            <textarea name="contact[message]" id="message" cols="39" rows="4" placeholder="Ваше сообщение"></textarea>
                        </div>



                        <div id="contact-submit" >
                            <div>
                                <input name="submit" type="submit" id="submithelp" tabindex="5" value="Отправить вопрос" class="comment-submit small button">
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <div class="result"></div>
                    <!-- END CONTACT FORM -->


                </div>

                <!-- END CONTACT BOX -->
            </div> <!-- END SIXTEEN COLUMNS -->
        </div><!-- END CONTAINER -->

        <!-- START COPYRIGHT SECTION -->
        <div class="copyright">
            <div class="container clearfix">
                <div class="sixteen columns">
                    <div class="copyright-logo"><a href="#"><img src="images/logo2.png" title="logo" alt="logo"/></a></div>

                    <p>&copy; 2015 Все права защищены. Сделанно с <i class="icon-heart"></i> by <a href="http://newcode.kz" target="_blank">NewCODE</a></p>

                </div> <!-- END SIXTEEN COLUMNS -->
            </div><!-- END CONTAINER -->
        </div>
        <!-- END COPYRIGHT SECTION -->

    </div>
    <!-- END CONTACT SECTION -->


</div><!-- END PAGE WRAP -->




<!-- JARVIS THEME SCRIPTS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.queryloader2.js"></script>
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/jquery.slabtext.min.js"></script>
<script type="text/javascript" src="js/jquery.fittext.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/selectnav.min.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/isotope.js"></script>
<script type="text/javascript" src="js/bootstrap-modal.js"></script>
<script type="text/javascript" src="js/shortcodes.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>



<script type="text/javascript" src="js/jquery.maskedinput.min.js"></script>



<!-- Themes Panel -->
<script src="files/themes_panel/themes_panel.js"></script>



<!-- /Themes Panel -->



<script src="js/dependencies/sails.io.js"></script>


<script src="js/dependencies/forAdwords.js"></script>

<script>

    jQuery(document).ready(function() {

        ForAdwords.init();


    });



    $("#forPhone").mask("7(999) 999-9999");

    $("#phonehelp").mask("7(999) 999-9999");

</script>



</body>

</html>